

<ul>
    {{#each arregloProd}}
        <li>
            <p>
                {{this.name}}<br/>
                <img src="{{img}}" /><br/>
                {{this.price}}<br/>
            </p>
        </li>
    {{/each}}
</ul>