<div class="product-container container">
  <div class="row row-cols-6 row-cols-sm-4 row-cols-md-2">
    {{#each list}}
    <div class="col">
      <div class="a-box">
          <div class="img-container">
            <div class="img-inner">
              <div class="inner-skew">
                <img src={{this.body.thumbnail}}>
              </div>
            </div>
          </div>
          <div class="text-container">
            <h3>{{this.body.name}}</h3>
            <div>
              This a demo experiment to skew image container. It looks good.
          </div>
          <p>precio: $ {{this.body.price}}</p>
          <button class="button">Comprar</button>
      </div>
    </div>
    {{/each}}
    </div>
</div>