{{#if products}}
{{#each products}}
<div class='card'>
    <div class="imgCont">
        <img src={{this.body.thumbnail}} class='imgCard'>
    </div>

    <div class='bodyCard'>
        <h4>
            {{this.body.name}}
        </h4>
        <p>
            $ {{this.body.price}}
        </p>
    </div>
</div>
{{/each}}
{{/if}}